<div class="flex flex-wrap gap-5 justify-center">
  <ng-container
    *ngFor="let pokemon of pokemons; let i = index"
    (click)="detail()"
  >
    <div
      class="border rounded-lg bg-white shadow-lg w-48 h-32 hover:bg-slate-100 relative"
    >
      <div class="flex justify-center">
        <img src="{{ pokemon.sprites.front_default }}" alt="" />
      </div>
      <div class="absolute bottom-2 w-full">
        <div class="justify-center flex">
          {{ pokemon.name }}
        </div>
      </div>
    </div>
  </ng-container>
</div>
